@import "tailwindcss";

@theme {
  /* Screens */
  --breakpoint-3xs: 280px;
  --breakpoint-2xs: 360px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 760px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1240px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1728px;
  --breakpoint-4xl: 1920px;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Project Theme */
  /* Primary */
  --color-primary: #0f6cbf;
  --color-primary-50: #f1f7fe;
  --color-primary-100: #e2effc;
  --color-primary-200: #beddf9;
  --color-primary-300: #85c1f4;
  --color-primary-500: #1c87db;
  --color-primary-700: #0d5497;
  --color-primary-950: #0c2745;

  /* Secondary */
  --color-secondary: #f9ba08;
  --color-secondary-300: #fcd75e;
  --color-secondary-700: #c18706;
  --color-secondary-100: #fef3c7;

  /* Tertiary */
  --color-tertiary: #3d4863;
  --color-tertiary-300: #7c86a3;
  --color-tertiary-700: #242c3f;
  --color-tertiary-100: #afb9ca;
  --color-tertiary-000: #ebeff3;

  /* Background */
  --color-background: #f4f8fa;
  

  /* Shadow */
  --drop-shadow-secondary-1: 4px 4px 0px rgba(249, 186, 8, 1);
  --drop-shadow-secondary-2: 8px 8px 0px rgba(249, 186, 8, 1);
  --drop-shadow-secondary-4: 16px 16px 0px rgba(249, 186, 8, 1);
}